* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.hidden{
  display:none;
}

body {
  margin: 0;
  background: #0e0e0e;
  color: white;
}

/* TOPBAR */
.topbar {
  background: linear-gradient(90deg, #3b82f6, #06b6d4);
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login {
  background: #111;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  cursor: pointer;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #121212;
  padding: 20px;
}

.sidebar h3 {
  margin-bottom: 15px;
}

.sidebar a {
  display: block;
  color: #bbb;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 5px;
}

.sidebar a:hover,
.sidebar .active {
  background: #2563eb;
  color: white;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 30px;
}

/* PRODUCTS */
.products {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 20px;
}

.product {
  background: #181818;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  transition: transform 0.3s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h3 {
  margin: 10px 0 5px;
}

.price {
  color: #38bdf8;
  font-size: 1.2rem;
  font-weight: bold;
}

/* BUTTON */
.product button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.product button:hover {
  background: #1d4ed8;
